
.header {
    position: relative;
    z-index: 10;

    .shoping {
        display: none;
        position: absolute;
        top: 120px;
        right: 3%;
        width: 300px;
        height: 200px;
        margin-inline: auto;
        padding: .5rem;
        box-shadow: 5px 6px 14px -1px rgba(0,0,0,0.59);
        -webkit-box-shadow: 5px 6px 14px -1px rgba(0,0,0,0.59);
        -moz-box-shadow: 5px 6px 14px -1px rgba(0,0,0,0.59);

        &.is-active {
            display: block;
        }

        .title {
            font-size: 1.1rem;
            margin-bottom: 10px;
        }

        hr {
            margin-bottom: 10px;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__container {
        width: 85%;
        margin-inline: auto;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $Dark-grayish-blue;
        position: relative;

        @include tablet {
            margin: 0;
            width: 100%;
        }

        @include tablet {
            justify-content: space-between;
        }

        

        .logo {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            .menu {
                display: none;
                margin-right: 2rem;

                @include tablet {
                    display: block;
                }

                @include mobile {
                    margin-right: .5rem;
                }
            }

            @include tablet {
                margin-left: 2rem;
            }

            @include mobile {
                margin-left: .5rem;
            }
        }

        .nav {
            width: 80%;
            margin-inline: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 50px;
            transition: $transition;

            &.active {
                left: 0;
            }

            @include tablet {
                position: absolute;
                top: 0px;
                left: -100%;
                height: 100vh;
                background-color: $White;
                width: 70%;
                margin: 0;
                z-index: 99;
                display: block;
            }

            .close {
                display: none;
                
                @include tablet {
                    display: block;
                    position: absolute;
                    top: 0;
                    margin: 1rem;
                    cursor: pointer;
                }

                
            }

            .list {
                display: flex;

                @include tablet {
                    flex-direction: column;
                    position: relative;
                    top: 100px;
                    
                }

                li {
                    margin-left: .5rem;

                    @include tablet {
                        &:not(:last-child) {
                            margin-bottom: 50px;
                        }
                    }
                }

                a {
                    display: block;
                    margin-right: 30px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $Dark-grayish-blue;
                    transition: $transition-one;

                    &:hover {
                        color: $Very-dark-blue;
                        border-bottom: 4px solid $Orange;
                    }

                    @include tablet {
                        justify-content: start;
                        height: 100%;
                        color: $Very-dark-blue;

                        &:hover {
                            border-bottom: none;
                        }
                    }


                }
            }

            &__content {
                display: flex;
                align-items: center;

                

                .shop {
                    margin-right: 50px;
                    position: relative;
                    cursor: pointer;

                    @include mobile {
                        margin-right: 15px;
                    }

                    .num {
                        display: none;
                        position: absolute;
                        font-size: .6rem;
                        background-color: $Orange;
                        padding: 1px 6px;
                        color: $White;
                        border-radius: 50px;
                        top: -9px;
                        left: 10px;

                        &.active {
                            display: block;
                        }
                    }
                }

                .profile {

                    img {
                        max-width: 65%;

                        @include tablet {
                            max-width: 50%;
                        }
                    }
                }
            }
        }
    }
}