@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
// ---------------------------------------
@import 'variables';
@import 'mixins';
@import 'header';
@import 'main';

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

a { text-decoration: none; }

li { list-style: none; }

body {
    font-family: 'Kumbh Sans', sans-serif;
}

.hidden {
    display: none;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 90;
    height: 100vh;
    cursor: pointer;

    &.overlay-active {
        display: block;
    }
}